<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.mende.alfredapp-audioswitcher</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>00704246-FE25-4B27-86E9-2EB6EDF00D67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09EBB07A-0EF4-4CDB-96E1-7A4EDC0561F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1450496C-74BC-4EDE-930B-ADC6027C5449</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCE19CD4-E3AE-4361-8B59-F357914A629C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AE8EB58-5F7D-49B6-98C1-4BAE5E79FC2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39B059B1-CD01-4C2D-8907-1E2F9262CD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B2897E7-E242-4504-A297-602265B0011F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39B059B1-CD01-4C2D-8907-1E2F9262CD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CDEB1A2-F0E3-4C17-955A-7AA171D8C899</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B2897E7-E242-4504-A297-602265B0011F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EEBB03A-5A12-4883-BEF4-2DAC11BF0FC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B2897E7-E242-4504-A297-602265B0011F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7155F88D-55F6-4608-BC2E-554BA0780537</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71AAE21C-028C-45CE-AB44-1378572652A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1450496C-74BC-4EDE-930B-ADC6027C5449</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A1840A7-3844-4206-9B9E-B0602C41361E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82D538CB-521F-4F59-99A5-91AFC57E3CF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>864A20DF-C5E2-444E-B084-9CD126BED7DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B2897E7-E242-4504-A297-602265B0011F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D6F6749-4476-48A0-BF59-8B80656B1F51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B2897E7-E242-4504-A297-602265B0011F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F22BA12-18B5-4FA5-B429-12DB07DBDC90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C46B89C0-5C32-4E45-84C4-714DAA27F2BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0CE40D8-D874-48D7-903B-0C91A6B2F7DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B2897E7-E242-4504-A297-602265B0011F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3266036-2FB4-4E74-B315-F9951154B58F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6FA975-C31E-4D56-BF48-EBBC634EB89E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B2897E7-E242-4504-A297-602265B0011F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFF1A33C-2AE0-4CA1-8B00-04BB87A5F7FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B066EEAB-4F3C-4516-9F00-E8FD7A5439B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B066EEAB-4F3C-4516-9F00-E8FD7A5439B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AE8EB58-5F7D-49B6-98C1-4BAE5E79FC2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0967D8A-BEF8-44B5-BF2A-06BD127C8D73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C46B89C0-5C32-4E45-84C4-714DAA27F2BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00704246-FE25-4B27-86E9-2EB6EDF00D67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBBA9D5E-DB01-490E-9C0F-F33A07F09E3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39B059B1-CD01-4C2D-8907-1E2F9262CD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCE19CD4-E3AE-4361-8B59-F357914A629C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39B059B1-CD01-4C2D-8907-1E2F9262CD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tobias Mende</string>
	<key>description</key>
	<string>Swiftly switch audio output and input devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Audio Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./main.swift switch_by_id output $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3AE8EB58-5F7D-49B6-98C1-4BAE5E79FC2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:output_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>./main.swift list output "$ignorelist"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select an Output Device</string>
				<key>title</key>
				<string>Audio Outputs</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B066EEAB-4F3C-4516-9F00-E8FD7A5439B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.out</string>
				<key>triggername</key>
				<string>Select Output</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>AFF1A33C-2AE0-4CA1-8B00-04BB87A5F7FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.in</string>
				<key>triggername</key>
				<string>Select Input</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>71AAE21C-028C-45CE-AB44-1378572652A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:input_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>./main.swift list input "$ignorelist"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select an Input Device</string>
				<key>title</key>
				<string>Audio Inputs</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1450496C-74BC-4EDE-930B-ADC6027C5449</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./main.swift switch_by_id input $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCE19CD4-E3AE-4361-8B59-F357914A629C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>0</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.out1</string>
				<key>triggername</key>
				<string>Select Output 1</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>AD6FA975-C31E-4D56-BF48-EBBC634EB89E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>0</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6CDEB1A2-F0E3-4C17-955A-7AA171D8C899</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.out2</string>
				<key>triggername</key>
				<string>Select Output 2</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>864A20DF-C5E2-444E-B084-9CD126BED7DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./main.swift switch_by_name output $1 "$outputs"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B2897E7-E242-4504-A297-602265B0011F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>120</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6EEBB03A-5A12-4883-BEF4-2DAC11BF0FC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>2</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.out3</string>
				<key>triggername</key>
				<string>Select Output 3</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>A0CE40D8-D874-48D7-903B-0C91A6B2F7DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Switched to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>39B059B1-CD01-4C2D-8907-1E2F9262CD04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>99</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9D6F6749-4476-48A0-BF59-8B80656B1F51</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>0</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.in1</string>
				<key>triggername</key>
				<string>Select Input 1</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>7155F88D-55F6-4608-BC2E-554BA0780537</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>0</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>8912896</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7A1840A7-3844-4206-9B9E-B0602C41361E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.in2</string>
				<key>triggername</key>
				<string>Select Input 2</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>C0967D8A-BEF8-44B5-BF2A-06BD127C8D73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./main.swift switch_by_name input $1 "$inputs"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>1</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>120</integer>
				<key>hotmod</key>
				<integer>8912896</integer>
				<key>hotstring</key>
				<string>F2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>82D538CB-521F-4F59-99A5-91AFC57E3CF3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>2</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>io.mende.audioswitcher.in3</string>
				<key>triggername</key>
				<string>Select Input 3</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>CBBA9D5E-DB01-490E-9C0F-F33A07F09E3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>2</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>99</integer>
				<key>hotmod</key>
				<integer>8912896</integer>
				<key>hotstring</key>
				<string>F3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A3266036-2FB4-4E74-B315-F9951154B58F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>00704246-FE25-4B27-86E9-2EB6EDF00D67</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Devices copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>09EBB07A-0EF4-4CDB-96E1-7A4EDC0561F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./main.swift print_device_names $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C46B89C0-5C32-4E45-84C4-714DAA27F2BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"b171fc8163f973fcfe9f43d328811fe1096dcebe.png","title":"Outputs","arg":"output","subtitle":"Choose to Copy"},{"imagefile":"3ab9aedf8fbd94a12254709139ffcee0a288338b.png","title":"Inputs","arg":"input","subtitle":"Choose to Copy"}]</string>
				<key>keyword</key>
				<string>fetchaudiodevices</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Choose which devices to copy to clipboard</string>
				<key>title</key>
				<string>Fetch Audio Devices</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9F22BA12-18B5-4FA5-B429-12DB07DBDC90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Audio Switcher
This workflow supports quickly switching sound input and output devices.

It offers hotkeys to quickly switch between three input favorites and output favorites. Those can also be triggered using Alfred Remote.

## Listing Devices
Once installed, use the `fetchaudiodevices` command in Alfred. Once you have selected either "Outputs" or "Inputs",
the workflow will copy a list of devices to the Clipboard. This is a convenience feature to support filling the
*Ignorelist*, *Output Favorites* and *Input Favorites*. (See below)

## Parameter Examples

### Ignorelist
The value
```
External Headphones
iPhone Microphone
```
causes both listed devices not to be listed when selecting inputs or outputs.


### Output Favorites
The value
```
MacBook Pro Speakers
RØDE Connect Virtual
External Screen
```
means the following:
- *⌘ + F1* will select MacBook Pro Speakers.
- *⌘ + F2* will select RØDE Connect Virtual.
- *⌘ + F3* will select External Screen.

### Input Favorites
The value
```
MacBook Pro Microphone
RØDE Connect Stream
```
means the following:
- *⌥ + F1* will select MacBook Pro Microphone.
- *⌥ + F2* will select RØDE Connect Stream.
- *⌥ + F3* will have no effect.</string>
	<key>uidata</key>
	<dict>
		<key>00704246-FE25-4B27-86E9-2EB6EDF00D67</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>09EBB07A-0EF4-4CDB-96E1-7A4EDC0561F4</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>1450496C-74BC-4EDE-930B-ADC6027C5449</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>39B059B1-CD01-4C2D-8907-1E2F9262CD04</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>3AE8EB58-5F7D-49B6-98C1-4BAE5E79FC2E</key>
		<dict>
			<key>note</key>
			<string>setOutput</string>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>3B2897E7-E242-4504-A297-602265B0011F</key>
		<dict>
			<key>note</key>
			<string>setOutput</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>6CDEB1A2-F0E3-4C17-955A-7AA171D8C899</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>6EEBB03A-5A12-4883-BEF4-2DAC11BF0FC0</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>7155F88D-55F6-4608-BC2E-554BA0780537</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>71AAE21C-028C-45CE-AB44-1378572652A9</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>7A1840A7-3844-4206-9B9E-B0602C41361E</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>82D538CB-521F-4F59-99A5-91AFC57E3CF3</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>864A20DF-C5E2-444E-B084-9CD126BED7DF</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>9D6F6749-4476-48A0-BF59-8B80656B1F51</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>9F22BA12-18B5-4FA5-B429-12DB07DBDC90</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>A0CE40D8-D874-48D7-903B-0C91A6B2F7DC</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>A3266036-2FB4-4E74-B315-F9951154B58F</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>AD6FA975-C31E-4D56-BF48-EBBC634EB89E</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>AFF1A33C-2AE0-4CA1-8B00-04BB87A5F7FE</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>B066EEAB-4F3C-4516-9F00-E8FD7A5439B6</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>C0967D8A-BEF8-44B5-BF2A-06BD127C8D73</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>C46B89C0-5C32-4E45-84C4-714DAA27F2BD</key>
		<dict>
			<key>note</key>
			<string>fetchaudiodevices</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>CBBA9D5E-DB01-490E-9C0F-F33A07F09E3A</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>F6A49F45-6CB5-4CDF-BB3E-79B7715ACA0F</key>
		<dict>
			<key>note</key>
			<string>setInput</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>FCE19CD4-E3AE-4361-8B59-F357914A629C</key>
		<dict>
			<key>note</key>
			<string>setInput</string>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>out</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Alfred Keyword to show available outputs.</string>
			<key>label</key>
			<string>Keyword for Output Selection</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>output_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>in</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Alfred Keyword to show available inputs.</string>
			<key>label</key>
			<string>Keyword for Input Selection</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>input_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>Devices to Ignore (one per line), both input and output.</string>
			<key>label</key>
			<string>Ignorelist</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignorelist</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>List of up to three output names (one per line) – Hint: Get them from the "fetchaudiodevices" command</string>
			<key>label</key>
			<string>Output Favorites</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>outputs</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>List of up to three input names (one per line) – Hint: Get them from the "fetchaudiodevices" command</string>
			<key>label</key>
			<string>Input Favorites</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>inputs</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/TobiasMende/alfred-audio-switcher</string>
</dict>
</plist>
